body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    height: auto;
    width: 100%;
}
.lw {
    font-size: 60px;
}
.navbar {
    background-color: #149044;
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index:1;

}
.navelements{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header_element {
    text-decoration: none;
    color: lightgrey;
    display: inline-flex;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    padding: 0.5em 1em;
}
.logo {
    padding-top: 3px;
    width: 4%;
    height: 4%;
    min-height: 70px;
    min-width:70px;
    margin-left: 3px;
    padding-left:30px;
}
.banner {
    width: 100%;
}

p, h1, h2{
    text-align:center;
    margin:auto;
    width: 70%;
    font-family: Georgia, serif;
    z-index:0;
}

.forside-indmad {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;

}

.forside-indmad .image{
    width: 200%;
    overflow:auto;
    margin-left: 3em;
}

.forside-indmad .tekst {
    justify-content: flex-start;
    font-size: 16px

}
.tekst2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.tekst2 .graf {
    display: block;
    align-content: end;
    width: 200%;
    margin-right: 3em;
    overflow: auto;

}

.kontakt {
    text-align: center;
    width:100%;
    height: 50%;
    padding: 2px;
    border-radius: 10px;
    border: 2px ridge darkgrey;
    background-color: #dbdede;
    max-width: 500px;
    margin: 20px auto;
}

.kontaktOverskrift h1 {
    margin-bottom:20px;
    margin-top:20px;
}
.paragraf {

    margin-bottom:25px;
}


.tips-indmad {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tips-indmad .tekst {
    display: inline-flex;
    align-content: center;
    font-size: 18px;
}
.tips-indmad .tipsBillede {
    margin-right: 1.5em;
    width: 20%;
}
.dropdown{
    position:relative;
    display:inline;
    float:right;
    z-index:1;
}
.dropdown_links{
    display:none;
    position:absolute;
    background-color:#149044;
    width:100%;
    z-index:2;
}
.dropdown_links a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index:2;
}
.dropdown_button{
    display:inline;
    padding-left:35px;
}
.dropdown:hover .dropdown_links{display:block;}

#overskrift1 {
    max-width: 25%;
}

footer {
    background-color: #149044;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    padding: 1em 1em;
    color: white;
}
.info {
    flex:1;
    display: flex;
    align-items: center;

}
.footerImage img {
    width: 100%;
}
.footerImage {
    max-width: 35%;
}
.links a {
    display: block;
    color: white;
    margin-bottom: 10px;
    width: 50px;

}
.links {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
.contact {
    display:flex;
    flex: 1;
    align-items: flex-start;
    padding: 1em;
    margin-right: 2%;
    justify-content: flex-end;


}
.contact textarea {
    height: 200px;
    width: 250px;
}

.tgtg{
    width:180%;
    padding-left: 180px;
  }

.bellhouse{
    width:180%;
    padding-right:180px;
}

#contactinfo {
    margin-right: 2%;
}
#contactinfo div {
    display: flex;
    justify-content: space-between;
    margin-top: 8.59%;
}

#submit {
    display: block;
}

#labelmessage {
    display: flex;
    align-content: flex-start;
}

#socials {
    display: flex;
}

#socials i {
    margin-right: 0.5em;
}

#tekstboks {
    font-size:14px;
    color:grey;
    display:block;
    background-color: rgba(210, 210, 218, 0.55);
    padding-inline-start: 20px;
    padding-inline-end:20px;
    padding-top: 20px;
    padding-bottom:20px;
    margin-bottom:70px;
}

.newsletter {
    flex:1;
    max-width: 350px;
    margin: 0 auto;
    border: 3px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.newsletter h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.newsletter input[type="text"],
.newsletter input[type="email"],
.newsletter input[type="submit"]{
    width: calc(100% - 30px);
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid;
    background: transparent;
    color: black;
    font-size: 1.2rem;
    transition: border-color 0.3s;
}
::placeholder{
    color:black;
}

.newsletter input[type="text"]:focus,
.newsletter input[type="email"]:focus{
    border-color: #007bff;
}

.newsletter input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #1D2F54;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter input[type="submit"]:hover {
    opacity: 85%;
}