body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    height: auto;
    width: 100%;
}
.lw {
    font-size: 60px;
}
.navbar {
    background-color: rgb(2, 179, 28);
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.header_element {
    text-decoration: none;
    color: white;
    display: inline-flex;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    padding: 0.5em 1em;
}
.logo {
    padding-top: 3px;
    width: 50%;
    height: 50%;
}
.banner {
    width: 100%;
}

p, h1, h2{
    text-align:center;
    margin:auto;
    width: 70%;
}

.forside-indmad {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

}

.forside-indmad .image{
    width: 200%;
    overflow:auto;
    margin-left: 3em;
}

.forside-indmad .tekst {
    justify-content: flex-start;
    font-size: 16px

}
.tekst2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.tekst2 .graf {
    display: block;
    align-content: end;
    width: 200%;
    margin-right: 3em;
    overflow: auto;

}

.tips-indmad {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tips-indmad .tekst {
    display: inline-flex;
    align-content: center;
    font-size: 18px;
}
.tips-indmad .tipsBillede {
    margin-right: 1.5em;
    width: 20%;
}

#overskrift1 {
    max-width: 25%;
}

footer {
    background-color: rgb(2, 179, 28);
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 1em 1em;
}
.info {
    display: flex;
    align-items: center;

}
.footerImage img {
    width: 100%;
}
.footerImage {
    max-width: 200px;
}
.links a {
    display: block;
    color: white;
    margin-bottom: 10px;
    width: 50px;

}
.links {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}
.contact {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
    margin-right: 2%;

}
.contact textarea {
    height: 100px;
}

#contactinfo {
    margin-right: 10%;
}
#contactinfo div {
    display: flex;
    justify-content: space-between;
    margin-top: 8.59%;
}

#submit {
    display: block;
}

#labelmessage {
    display: flex;
    align-content: flex-start;
}

#socials {
    display: flex;
}

#socials i {
    margin-right: 0.5em;
}
