<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danmark mod madspild</title>
    <link rel="Stylesheet" href="../static/style.css">
</head>
<body>

<div>
<h1>
    Stop Madspild
</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae nisi vel leo efficitur convallis.
    Nulla facilisi. <br> Maecenas euismod ultrices purus, id congue risus tempor nec.
    Proin vitae sapien at leo placerat commodo nec et justo.<br>
    Phasellus nec lacinia urna, vitae interdum magna.
    Integer ultrices fringilla eros, nec rutrum odio dignissim quis. <br>Vestibulum at varius mauris.
    Duis id quam eget arcu fermentum euismod. Quisque non vestibulum lorem. <br>Fusce nec scelerisque magna.
    Nulla facilisi. Donec ac nisl vel lorem bibendum tincidunt.
    Sed sit amet justo nec ipsum congue fermentum.</p>


<p>Suspendisse potenti. Curabitur pulvinar varius sem, non tincidunt magna bibendum vitae. <br>
    Integer bibendum massa ut enim rhoncus lacinia. Nullam ac nisi vitae ligula dictum laoreet. <br>
    In hac habitasse platea dictumst. Sed vel libero nec ex fermentum fringilla. <br>
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Integer maximus elit ac nisi lacinia, a fermentum arcu posuere.<br> Sed et ligula mauris.
    Nullam in condimentum purus.</p>

</div>

<br>

<div>
<h2> Overskrift </h2>

<p>Pellentesque eget felis odio. Integer ut nunc magna. <br>
    Curabitur luctus, purus sit amet blandit luctus, elit libero aliquam lacus,
    in pharetra metus nisi sit amet nulla. <br>
    Nullam vel dictum velit. Phasellus non augue eget tortor scelerisque ultricies. <br>
    Proin consectetur arcu non augue condimentum, sit amet mattis leo varius. <br>
    Vivamus ultrices mauris id est convallis, vel tincidunt purus aliquam. <br>
    Ut viverra, odio in tincidunt semper, metus lectus facilisis nisi, eget ultricies ex leo id felis.<br>
    Sed suscipit lorem vitae libero venenatis, sit amet efficitur velit bibendum. <br>
    Etiam ut interdum dui.
    Maecenas posuere enim in nunc vestibulum, nec facilisis magna fermentum.<br>
    Sed convallis dignissim justo eget commodo. Nunc eget turpis id purus hendrerit placerat.<br>
    Sed eu tortor a elit dictum ultricies.
    Sed condimentum odio id magna cursus, in vulputate felis feugiat.</p>
</div>

</body>
</html>