<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <title>Danmark mod madspild</title>
    <link rel="Stylesheet" href="../static/CSS/style.css" th:href="@{/CSS/style.css}">
</head>
<body style="background-color: #E8E8E8">
<nav class="navbar">
    <div class="navelements">
        <div class="logo">
            <a href="/">
                <img  src="../static/images/Logo.png" th:src="@{/images/Logo.png}" alt="logo">
            </a>
        </div>
        <a class="header_element" href="/" >Forside</a>
        <a class="header_element" href="/organisation">Organisation</a>
        <a class="header_element" href="/virksomhed">Virksomhed</a>
        <a class="header_element" href="/institution">Institution</a>
        <a class="header_element" href="/forbruger">Forbruger</a>
        <a class="header_element" href="/tipsogtricks" style="color:white;text-decoration: underline">Tips og tricks</a>
        <div class="dropdown header_element">
            <p class="dropdown_button">Vores Partnere</p>
            <div class="dropdown_links">
                <a href="http://www.stopspildafmad.org/">Stop Spild Af Mad</a>
                <a href="http://lf.dk/">Landbrug & Fødevarer</a>
                <a href="http://xn--projekthjemls-mnb.dk/">Projekt Hjemløs</a>
                <a href="http://delmaden.dk/">Del Maden</a>
                <a href="http://spisrubogstub.dk/">Spisehuset Rub & Stub</a>
                <a href="http://www.foodsharingcph.org/">Foodsharing Copenhagen</a>
                <a href="http://www.stopspildlokalt.dk/">Stop Spild Lokalt</a>
            </div>
        </div>
    </div>
</nav>

<div class="banner">
    <img src="../static/images/Banner.png" alt="banner" th:src="@{/images/Banner.png}">
</div>

<h1 id="overskrift1">
    Tips og Tricks <br>
    Formindsk din madspild
    i hverdagen!
</h1>

<div class="tips-indmad">

    <div class="tekst">

        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Sed vitae nisi vel leo efficitur convallis.</li>
            <li>Nulla facilisi. Maecenas euismod ultrices purus, id congue risus tempor nec.</li>
            <li>Proin vitae sapien at leo placerat commodo nec et justo.</li>
            <li>Phasellus nec lacinia urna, vitae interdum magna.</li>
            <li>Integer ultrices fringilla eros, nec rutrum odio dignissim quis. Vestibulum at varius mauris.</li>
            <li>Duis id quam eget arcu fermentum euismod. Quisque non vestibulum lorem. Fusce nec scelerisque magna.</li>
            <li>Nulla facilisi. Donec ac nisl vel lorem bibendum tincidunt.</li>
            <li>Sed sit amet justo nec ipsum congue fermentum.</li>
            <li>Phasellus nec lacinia urna, vitae interdum magna.</li>
            <li>Integer ultrices fringilla eros, nec rutrum odio dignissim quis. Vestibulum at varius mauris.</li>
            <li>Duis id quam eget arcu fermentum euismod. Quisque non vestibulum lorem. Fusce nec scelerisque magna.</li>
            <li>Nulla facilisi. Donec ac nisl vel lorem bibendum tincidunt.</li>
            <li>Sed sit amet justo nec ipsum congue fermentum.</li>
        </ul>

        <ul>
            <li>Suspendisse potenti.</li>
            <li>Curabitur pulvinar varius sem, non tincidunt magna bibendum vitae.</li>
            <li>Integer bibendum massa ut enim rhoncus lacinia.</li>
            <li>Nullam ac nisi vitae ligula dictum laoreet.</li>
            <li>In hac habitasse platea dictumst.</li>
            <li>Phasellus nec lacinia urna, vitae interdum magna.</li>
            <li>Integer ultrices fringilla eros, nec rutrum odio dignissim quis. Vestibulum at varius mauris.</li>
            <li>Duis id quam eget arcu fermentum euismod. Quisque non vestibulum lorem. Fusce nec scelerisque magna.</li>
            <li>Nulla facilisi. Donec ac nisl vel lorem bibendum tincidunt.</li>
            <li>Sed sit amet justo nec ipsum congue fermentum.</li>
            <li>Sed vel libero nec ex fermentum fringilla.</li>
            <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</li>
            <li>Integer maximus elit ac nisi lacinia, a fermentum arcu posuere.</li>
            <li>Sed et ligula mauris.</li>
            <li>Nullam in condimentum purus.</li>
        </ul>

    </div>

    <div class="tipsBillede">
        <img  src="../static/images/tips.png" th:src="@{/images/tips.png}" alt="forsidebilled">
    </div>

</div>

<footer>
    <div class="info">

        <div class="footerImage">
            <img src="../static/images/madspild1-1.png" th:src="@{/images/madspild1-1.png}" alt="madspild">
        </div>

        <div class="links">
            <h3>Information</h3>
            <a href="/">Forside </a>
            <a href="/">Om os</a>
            <a href="/">Cookipolitik</a>
            <a href="/">Cookieindstillinger</a>
            <a href="/">Persondatapolitik</a>
            <a href="/">Nyhedsbrevet</a>
            <a href="/">Følg os</a>
            <div id="socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>

        </div>
    </div>
    <div class="newsletter">
        <h3>Tilmeld dig vores nyhedsbrev!</h3>
        <form id="newsForm">
            <div>
                <label for="newsFirstName">Fornavn:</label>
                <input type="text" id="newsFirstName" name="newsFirstName" placeholder="Indtast dit fornavn">
            </div>
            <div>
                <label for="newsMail">E-mail:</label>
                <input type="email" id="newsMail" name="newsMail" placeholder="Indstast din e-mail">
            </div>
            <input type="submit" value="Tilmeld">
        </form>
    </div>
    <form class="contact" action="contactcon" method="post">

        <div id="contactinfo">
            Kontakt os:
            <div>
                <label for="name"> Navn: </label>
                <input type="text" id="name" name="name" placeholder="Indtast dit navn">
            </div>

            <div>
                <label for="email">Email: </label>
                <input type="email" id="email" name="email" placeholder="Indtast din e-mail">
            </div>
        </div>

        <div>
            <label id="labelmessage" for="message">Besked:</label>
            <textarea id="message" name="message" placeholder="Skriv din besked her" ></textarea>
            <input id="submit" type="submit" value="Send">
        </div>

    </form>
</footer>

</body>
</html>